@page
@model TuneScout.Pages.exeptionModel
@{
    Layout = "_Layout";
}

<h1>404 - Pagina niet gevonden </h1>
<p>Sorry, de pagina die je zoekt bestaat niet.</p>
<a href="/">Ga terug naar de startpagina</a>
